<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python<br><br>

Nicolas Mauricio Rincon Vija <br>
Lab 1<br>
Algoritmos 2022-1<br>
Universidad Nacional de Colombia<br>
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
var_1 = 'Mi nombre es: '
var_2 = 'Nicolas Rincon' 
print(var_1 + ' ' + var_2) #se imprime la concatenacion de 2 variables nombradas var_1 y var_2

Mi nombre es:  Nicolas Rincon

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_number = 5 #asignamos un numero entero a una variable
print(my_number) #se imprime la variable
print(type(my_number)) #vemos que tipo de variable es un entero, en este caso es int

5
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_str = "2022" #asignamos un string a una variable
print(my_str, " - ", type(my_str)) #imprimimos el string y su tipo
my_number = int(my_str) #convertimos el string en numero
print(my_number, " - ", type(my_number)) #imprimimos el numero y su tipo

2022  -  <class 'str'>
2022  -  <class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_number = 5 #asignamos un numero entero a una variable
my_float = float(my_number) #la convertimos en decimal
print(my_float, " - ", type(my_float)) #vemos que tipo de variable es un decimal, en este caso es float

5.0  -  <class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
itscold = False #declaramos una variable en False
print("Hace frio? ", itscold) #imprimimos
print(type(itscold)) #vemos que el tipo de variable es booleano

Hace frio?  False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
#se hacen varias operaciones y se imprimen indicando que operacion es
print("Suma ", 2+5)
print("Resta ", 3-3)
print("Multiplicacion ", 23*34)
print("Division ", 28/4)
print('Potencia', 3**5)

Suma  7
Resta  0
Multiplicacion  782
Division  7.0
Potencia 243

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(1/3) #Una division simple
print(2*5) #una multiplicacion simple

0.3333333333333333
10

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1,2,3.2] #al crear una lista, no importa que tipo de variables esten adentro
print(my_list) #se imprime la lista

['Hola', 'Como', 'Estas', 1, 2, 3.2]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1, 2, 3.2] #creamos la lista
print(len(my_list)) #se imprime la longitud de la lista
print(my_list[0]) #se imprime el primer elemento de la lista
print(my_list[len(my_list) -1]) #se imprime el ultimo elemento de la lista

6
Hola
3.2

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1, 2, 3.2] #creamos la lista
my_list[3] = 1.6 #cambiamos el cuarto elemento de la lista, pasa de 1 a 1.6
print(my_list) #se imprime la lista

['Hola', 'Como', 'Estas', 1.6, 2, 3.2]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1, 2, 3.2] #creamos la lista
print(my_list[0:3]) #se imprime el elemento el 0, 1, y 2 de la lista

['Hola', 'Como', 'Estas']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1, 2, 3.2] #creamos la lista
print(my_list[3:]) #se imprime la lista desde el elemento 3

[1, 2, 3.2]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
my_list = ['Hola', 'Como', 'Estas', 1, 2, 3.2] #creamos la lista
print(my_list[:3]) #se imprime la lista hasta el tercer elemento

['Hola', 'Como', 'Estas']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list = ["Me", "llamo"] #creamos la lista
my_list.append('Nicolas') #Se agrega un elemento a la lista
print(my_list) #se imprime la lista

['Me', 'llamo', 'Nicolas']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
my_list = ["Me", "llamo", 'Nicolas'] #creamos la lista
my_list.remove('Me') #Se elimina un elemento a la lista
print(my_list) #se imprime la lista

['llamo', 'Nicolas']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
my_tuple = ('Hola','amigos','mios', ":D") #creamos la tupla
print(my_tuple) #se imprime la tupla

('Hola', 'amigos', 'mios', ':D')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Hola','amigos','mios', ":D") #creamos la tupla
print(my_tuple[2:]) #se imprimen del tercer elemento en adelante de la tupla

('mios', ':D')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [ ]:
aList = [1,5,7,4,5,7,8,6,5,2,5,8,9,0,9,8,9,0,7,6,5,4,6,7] #creamos una lista de numeros
aSet = set(aList) #creamos el conjunto ("set") donde no se repite ningun elemento de la lista y ademas se ordenan
print("Lista con elementos repetidos: ", aList) #se imprime la lista
print("Conjunto sin elementos repetidos", aSet) #se imprime el set

Lista con elementos repetidos:  [1, 5, 7, 4, 5, 7, 8, 6, 5, 2, 5, 8, 9, 0, 9, 8, 9, 0, 7, 6, 5, 4, 6, 7]
Conjunto sin elementos repetidos {0, 1, 2, 4, 5, 6, 7, 8, 9}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
my_dic = {'Javier': 'Ramirez', 'Camilo': 'Torres'} #se crea el diccionario
print(my_dic['Camilo']) #se imprime el valor de la llave "Camilo"

Torres

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic = {'Javier': 'Ramirez', 'Camilo': 'Torres'} #se crea el diccionario
my_dic['Camilo'] = 'Rodriguez' #se cambia el valor de la llave "Camilo"
print(my_dic['Camilo']) #se imprime el valor de la llave "Camilo"

Rodriguez

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
my_dic = {'Javier': 'Ramirez', 'Camilo': 'Torres'} #se crea el diccionario
print(my_dic.keys()) #se imprimen las llaves del diccionario

dict_keys(['Javier', 'Camilo'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Hola, mi nombre es frailejon Ernesto Perez' #se asigna un string
print(my_str[6:]) #Se muestra el string desde el caracter 6

mi nombre es frailejon Ernesto Perez

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
my_str = 'Hola, mi nombre es frailejon Ernesto Perez' #se asigna un string
print(my_str.count('j')) #se cuentan el numero de 'j' en el string
print(my_str.find('z')) #encontrar la posicion donde hay una 'z'
print(my_str.replace('e', 'i')) #remplaza las 'e' con 'i'

1
41
Hola, mi nombri is frailijon Ernisto Piriz

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00' #se setea un time por defecto con su formato
splited_list = Time.split(' ') #se splitea el string Time por los espacios y queda en una lista
date = splited_list[0] #se aigna el '2016-04-01' a la variable date
time = splited_list[1] #se aigna el '09:43:00' a la variable time
print(date, time) # se imprime las variables
hour = time.split(':')[0] #se hace un split para obtener la hora
print('hora: ',hour) #se imprime la hora

2016-04-01 09:43:00
hora:  09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43') #se usa el .format para crear un string de manera mas ordenada el tiempo
print(my_time) #se imprime el string

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14) 
print('%s to %s'%('Welcome','Quantconnect')) #formatos de impresion

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0) #operador igual
print(1 == 1) #operador igual
print(1 != 0) #operador diferente
print(5 >= 5) #operador mayor o igual que
print(5 >= 6) #operador mayor o igual que

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2) #sentencia mayor que, y, mayor que
print(2 > 1 and 3 < 2) #sentencia mayor que, y, menor que
print(2 > 1 or 3 < 2) #sentencia mayor que, o, menor que
print(2 < 1 and 3 < 2) #sentencia menor que, y, menor que

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) #(mayor que o menor que) y (diferente y mayor que) y no(menor que o menor que y (diferente y mayor que))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) #(mayor que o menor que) y (diferente y mayor que) y no(menor que o menor que y (diferente y mayor que))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0 #se inicia i en 0
if i == 0: #si se cumple la condicion pasa a imprimir
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0 #aca se establece un True
q = 2 > 3 #aca se establece un false
if p and q: #si p y q son true pasa a imprimir
    print('p and q is true')
elif p and not q: #si p es true y q es false pasa a imprimir
    print('q is false')
elif q and not p: #si q es true y p es false pasa a imprimir
    print('p is false')
else: #si no se imprimio nada antes de aca, pasa a imprimir
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5: #mientras i sea menor que 5 se imprime el i
    print(i) #se imprime el i
    i += 1 #i va incrementando

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]: #se recorre la lista [1,2,3,4,5] y se imprime cada elemento
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

#basicamente, hay 2 listas 'stocks' y 'selected', y una tercera 'new_list', a esta tercera se le agregan los elementos de 'stocks' que no estan en 'selected'
#por ultimo se imprime new_list

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break
#Se imprime los elementos de la lista 'stocks' hasta que el loop se encuentra con el elemento 'FB'

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)
#se imprimen los elementos de 'stocks' menos el elemento 'FB'

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [52]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)
#se llena la lista 'squares' con las potencias de los elementos de la lista [1,2,3,4,5]

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)
#es lo mismo que el codigo anterior pero de una manera mas corta
#se llena la lista 'squares' con las potencias de los elementos de la lista [1,2,3,4,5]

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [53]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)
#se llena 'new_list' con lo elemtos que 'stocks' y 'slected' tienen en comun

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#se crean todas las posibles parejas entre las lista [1,2,3] y [3,1,4]
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
#Se crean todas las posibles parejas entre las listas ['AAPL','GOOG','IBM','FB'] y ['F','V','G','GE']
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [54]:
def product(x,y): #se declara una funcion que retorna las multiplicacion de 2 numeros x*y
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [55]:
def say_hi(): #esta funcion imprime un mensaje, no retorna nada esta funcion
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10)) #se imprime la funcion range()
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [56]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) #la funcion len() devuelve la longitud de una lista
for i in range(len(tickers)):
    print(tickers[i]) #se imprimen los elementos de la lista 'tickers'

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [59]:
list = [1,2,3,4,5] 
print(list)
del list #se elimina la lista
print(list)
list

[1, 2, 3, 4, 5]
<class 'list'>

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) #se itera la lista 'tickers' y se saca la longitud de cada elemento

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers))) #se itera la lista 'tickers' y se saca la longitud de cada elemento

#se puede usar el print() o no, list retorna el print por defecto

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
list(map(lambda y: y*2, range(10))) #con map se itera el range(10) y con lambda se crea una mini funcion que no tiene que ser declara y ahi multiplicamos cada elemento por 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #aqui se suman los elementos de cada lista, las listas deben tener la misma longitud

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1]) #sorted() ordena una lista

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1]) #se ordena la lista tomando el cuenta el segundo elemento representado por x[1]

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True) #se ordena de mayor a menor la lista tomando el cuenta el segundo elemento representado por x[1], con el reverse

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1]) #tambien se puede ordenar con .sort()
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [64]:
class stock: # se crea la clase 'stock' y se definen en ella 3 funciones, init (es el constructor en python), update y print_return
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [68]:
#Se crean 2 objetos que pertecen a la clase 'stock', para esto se pasan los arguentos de la clase que son "ticker", "open", "close", "volume" 
apple = stock('AAPL', 143.69, 144.09, 20109375) 
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [69]:
apple.ticker
google.print_return() #se llama la funcion que imprime el close/open - 1
google.update(912.8,913.4) #se actualizan el open y el close
google.print_return() #se llama la funcion que imprime el close/open - 1, como fue modificado, por eso las impresiones son diferentes

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [71]:
apple.ceo = 'Tim Cook' #se le agrega al objecto apple un atributo llamado 'ceo'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [73]:
class child(stock): #la clase 'child' hereda de la clase 'stock' sus atributos
    def __init__(self,name):
        self.name = name

In [77]:
aa = child('aa') #Se crea un objeto 'aa' que pertenece a la clase child y le para a traves de () que su nombre es 'aa'
print(aa.name) #se imprime el nombre del objeto que pertence a child
aa.update(100,102) #como hereda las funciones de 'stock' puede hacer update con 'open y 'close'
print(aa.open) #se imprime el atributo open de aa
print(aa.close) #se imprime el atributo close de aa
print(aa.print_return()) #se llama la funcion que imprime el close/open - 1

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [78]:
import numpy as np #se importa la libreria numpy y se hara referencia a esta con la palabra 'np'

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [80]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62] #se crea una lista
price_array = np.array(price_list) #se convierte la lista a un array con la libreria numpy
print(price_array, type(price_array)) #se imprime el array y se comprueba que es un array viendo su tipo (type)

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [83]:
Ar = np.array([[1,3,3],[2,4,4]]) #se crea ul array n-dimensional, siendo n>0
print(Ar, type(Ar)) #se imprime el array

[[1 3 3]
 [2 4 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [84]:
print(Ar.shape) #para obtener la dimencion de un array se hace con .shape

(2, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [85]:
print(Ar[0]) #se imprime el array 0 de nuestro array n-dimensional
print(Ar[1]) #se imprime el array 1 de nuestro array n-dimensional

[1 3 3]
[2 4 4]

If we want to access the matrix by column instead:

In [87]:
print('the first column: ', Ar[:,0]) 
print('the second column: ', Ar[:,1])
#Imprimimos als columnas de nuestro array
print('the second column: ', Ar[:,2])

the first column:  [1 2]
the second column:  [3 4]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [88]:
#price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62] #se crea una lista
#price_array = np.array(price_list) #se convierte la lista a un array con la libreria numpy
print(np.log(price_array)) #se puede sacar el logaritmo de cada elemento de nuestro array y se imprime

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [89]:
print(np.mean(price_array)) #se puede sacar el promedio de los elementos de nuestro array y se imprime
print(np.std(price_array)) #se puede sacar la desviacion estandar de los elementos de nuestro array y se imprime
print(np.sum(price_array)) #se puede sacar la suma de los elementos de nuestro array y se imprime
print(np.max(price_array)) #se puede sacar el mayor numero de los elementos de nuestro array y se imprime

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [90]:
import pandas as pd #se importa la libreria panda y se hara referencia a esta con la palabra 'pd'

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [94]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62] #creamos una lista
s = pd.Series(price) #con la libreria panda, podemos usar el .Series para crear una especie de diccionario, la llave o indice es >=0 y el valor es el elemento de la lista
s #se imprime

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [95]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) #con la libreria panda, podemos usar el .Series para crear una especie de diccionario, la llave o indice lo indicamos agregando el 'index' y el valor es el elemento de la lista
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [96]:
s.index = ['I','II','III','IV','V','VI'] #o solo podemos cambiar los indices refiriendonos a la serie, en este caso es 's'
s

I      143.73
II     145.83
III    143.68
IV     144.02
V      143.50
VI     142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [97]:
print(s[1:]) #podemos solo imprimir una parte de nuestra serie
print(s[:-2])

II     145.83
III    143.68
IV     144.02
V      143.50
VI     142.62
dtype: float64
I      143.73
II     145.83
III    143.68
IV     144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [99]:
print(s[4]) #imprimimos el elemento en la posicion 4 de la serie
s[4] = 0 #cambiamos el valor del elemento en la posicion 4 de la serie
print(s) #se imprime la serie

0.0
I      143.73
II     145.83
III    143.68
IV     144.02
V        0.00
VI     142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [102]:
s = pd.Series(price, name = 'Lista de precios de las manzanas por dia') #agregamos un nombre a la serie
print(s) #imprimimos la serie
print('\n')
print(s.name) #se imprime el nombre de la serie

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Lista de precios de las manzanas por dia, dtype: float64


Lista de precios de las manzanas por dia

We can get the statistical summaries of a Series:

In [101]:
print(s.describe()) #con el .describe() obtenemos una estadistica de nuestra serie

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Lista de precios de las manzanas por dia, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [105]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Lista de precios de las manzanas por dia, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [106]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[5]) #se imprime el elemento que tiene 5 como indice

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Lista de precios de las manzanas por dia, dtype: float64
145.83

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [109]:
print(s.iloc[4]) #con el .iloc(4) se imprime el elemento en la posicion numero 5 de la serie, el indice no importa

143.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [111]:
s.index = time_index
print(s['2017-01-03']) #se imprime el elemento con indice '2017-01-03'

143.68

We can even access to a range of dates:

In [112]:
print(s['2017-01-02':'2017-01-05']) #un rango de fechas

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Lista de precios de las manzanas por dia, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [113]:
print(s[s < np.mean(s)] ) #se imprime el rango donde se cumpla la condicion dle promedio
print("\n")
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Lista de precios de las manzanas por dia, dtype: float64


[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Lista de precios de las manzanas por dia, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [114]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 63 kB 1.4 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.4 MB 11.3 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [3]:
import yfinance as yf #importamos la libreria yfinance

aapl = yf.Ticker("AAPL") #obtenemos los datos

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 154.73, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.83, 'beta3Year': None, 'enterpriseToEbitda': 20.153, '52WeekChange': 0.24792325, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59426, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.059303045, 'priceToBook': 35.149933, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2583992205312, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.674457, 'dateShortInterest': 1646006400, 'pegRatio': 1.73, 'ytdReturn': None, 'forwardPE': 23.58689, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 158.52, 'regularMarketOpen': 158.93, 'twoHundredDayAverage': 153.6086, 'trailingAnnualDividendYield': 0.0054567247, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 159.2799, 'navPrice': None, 'averageDailyVolume10Day': 93968420, 'regularMarketPreviousClose': 158.52, 'fiftyDayAverage': 168.6374, 'trailingAnnualDividendRate': 0.865, 'open': 158.93, 'toCurrency': None, 'averageVolume10days': 93968420, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 154.5, 'currency': 'USD', 'trailingPE': 25.724024, 'regularMarketVolume': 96970102, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2525100769280, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 96650550, 'dayLow': 154.5, 'ask': 154.59, 'askSize': 900, 'volume': 96970102, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 154.44, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1000, 'dayHigh': 159.2799, 'regularMarketPrice': 154.73, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590640,24.225180,23.450397,24.220581,270597600,0.0,0
2016-01-05,24.312538,24.335529,23.544654,23.613625,223164000,0.0,0
2016-01-06,23.119327,23.535458,22.960694,23.151514,273829600,0.0,0
2016-01-07,22.687110,23.020473,22.169822,22.174419,324377600,0.0,0
2016-01-08,22.657219,22.785966,22.245687,22.291668,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713653,41.890367,41.670671,41.792458,65397600,0.0,0
2017-12-26,40.787108,40.947104,40.519650,40.732185,132742000,0.0,0
2017-12-27,40.619945,40.782328,40.526813,40.739346,85992800,0.0,0
2017-12-28,40.834869,41.037851,40.710692,40.853973,65920800,0.0,0
2017-12-29,40.720244,40.736958,40.409803,40.412189,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [12]:
aapl = aapl_table['Close']['2017'] #creamos un filtro y lo guardamos en 'aapl'

In [13]:
print(aapl) #se imprime

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405798
2017-01-06    27.711330
2017-01-09    27.965149
                ...
2017-12-22    41.792458
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853973
2017-12-29    40.412189
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [14]:
print(aapl['2017-3']) #imprimimos los valores de 'aapl' que cumplan con '2017-3'

Date
2017-03-01    32.996029
2017-03-02    32.800110
2017-03-03    32.993671
2017-03-06    32.889812
2017-03-07    32.932301
2017-03-08    32.809551
2017-03-09    32.734016
2017-03-10    32.842606
2017-03-13    32.856766
2017-03-14    32.807201
2017-03-15    33.154171
2017-03-16    33.208473
2017-03-17    33.043236
2017-03-20    33.390209
2017-03-21    33.007828
2017-03-22    33.380772
2017-03-23    33.262749
2017-03-24    33.196667
2017-03-27    33.253311
2017-03-28    33.942551
2017-03-29    34.018074
2017-03-30    33.973236
2017-03-31    33.909508
Name: Close, dtype: float64

In [15]:
aapl['2017-2':'2017-4'] #imprimimos los valores de 'aapl' que cumplan con '2017-2' '2017-4'

Date
2017-02-01    30.258959
2017-02-02    30.207254
2017-02-03    30.336512
2017-02-06    30.620886
2017-02-07    30.912312
                ...
2017-04-24    33.904789
2017-04-25    34.114861
2017-04-26    33.914223
2017-04-27    33.940189
2017-04-28    33.907146
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [16]:
print(aapl.head(5)) #se imprimen los 5 primeros datos de 'aapl'
print(aapl.tail(10)) #se imprimen los 10 ultimos datos de 'aapl'

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405798
2017-01-06    27.711330
2017-01-09    27.965149
Name: Close, dtype: float64
Date
2017-12-15    41.544102
2017-12-18    42.129169
2017-12-19    41.680214
2017-12-20    41.634861
2017-12-21    41.792458
2017-12-22    41.792458
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853973
2017-12-29    40.412189
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [17]:
by_month = aapl.resample('M').mean() #filtros
print(by_month)

Date
2017-01-31    28.101463
2017-02-28    31.520057
2017-03-31    33.191428
2017-04-30    33.727007
2017-05-31    36.027137
2017-06-30    35.038138
2017-07-31    35.149096
2017-08-31    37.793847
2017-09-30    37.502156
2017-10-31    37.551832
2017-11-30    41.121433
2017-12-31    41.047758
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [18]:
by_week = aapl.resample('W').mean() #filtros
print(by_week.head())

Date
2017-01-08    27.420490
2017-01-15    28.021085
2017-01-22    28.189009
2017-01-29    28.476088
2017-02-05    29.581626
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [19]:
aapl.resample('M').max() #filtros

Date
2017-01-31    28.660812
2017-02-28    32.363445
2017-03-31    34.018074
2017-04-30    34.171516
2017-05-31    36.997929
2017-06-30    36.843861
2017-07-31    36.372208
2017-08-31    39.022976
2017-09-30    39.034878
2017-10-31    40.222218
2017-11-30    41.935425
2017-12-31    42.129169
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [20]:
three_day = aapl.resample('3D').mean() #filtros
two_week = aapl.resample('2W').mean() #filtros
two_month = aapl.resample('2M').mean() #filtros


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.323544
2017-01-06    27.711330
2017-01-09    28.034089
2017-01-12    28.001578
2017-01-15    28.202522
                ...
2017-12-17    41.904692
2017-12-20    41.739925
2017-12-23          NaN
2017-12-26    40.775168
2017-12-29    40.412189
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.420490
2017-01-22    28.095718
2017-02-05    29.028857
2017-02-19    31.430839
2017-03-05    32.506642
2017-03-19    32.927813
2017-04-02    33.533490
2017-04-16    33.757388
2017-04-30    33.699664
2017-05-14    35.600254
2017-05-28    36.396619
2017-06-11    36.415394
2017-06-25    34.434853
2017-07-09    34.171660
2017-07-23    35.182634
2017-08-06    36.173826
2017-08-20    37.800719
2017-09-03    38.353880
2017-09-17    38.178276
2017-10-01    36.740376
2017-10-15    36.970470
2017-10-29    37.654320
2017-11-12    40.920304
2017-11-26    41.091975
2017-12-10    40.755585
2017-12-24    41.507330
2018-01-07    40.684423
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101463
2017-03-31    32.435332
2017-05-31    34.961223
2017-07-31    35.090975
2017-09-30    37.658177
2017-11-30    39.295126
2018-01-31    41.047758
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [26]:
std = aapl.resample('W').std() #filtros
max = aapl.resample('W').max() #filtros
min = aapl.resample('W').min() #filtros


print(std)
print(max)
print(min)

Date
2017-01-08    0.202813
2017-01-15    0.072332
2017-01-22    0.025485
2017-01-29    0.244616
2017-02-05    0.940688
2017-02-12    0.251315
2017-02-19    0.230766
2017-02-26    0.059179
2017-03-05    0.339165
2017-03-12    0.076081
2017-03-19    0.177349
2017-03-26    0.156833
2017-04-02    0.318935
2017-04-09    0.128342
2017-04-16    0.211895
2017-04-23    0.174195
2017-04-30    0.089779
2017-05-07    0.234997
2017-05-14    0.352014
2017-05-21    0.534629
2017-05-28    0.060229
2017-06-04    0.280452
2017-06-11    0.618341
2017-06-18    0.381518
2017-06-25    0.128538
2017-07-02    0.263391
2017-07-09    0.158452
2017-07-16    0.403178
2017-07-23    0.124647
2017-07-30    0.383393
2017-08-06    0.921864
2017-08-13    0.466196
2017-08-20    0.434063
2017-08-27    0.275016
2017-09-03    0.251036
2017-09-10    0.380597
2017-09-17    0.293338
2017-09-24    0.733187
2017-10-01    0.353877
2017-10-08    0.204295
2017-10-15    0.118410
2017-10-22    0.515586
2017-10-29    0.678596
2017-11-05    0.559157
2017-11-12    0.190448
2017-11-19    0.435007
2017-11-26    0.561512
2017-12-03    0.426279
2017-12-10    0.072931
2017-12-17    0.204704
2017-12-24    0.193595
2017-12-31    0.189874
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.711330
2017-01-15    28.143766
2017-01-22    28.202522
2017-01-29    28.660812
2017-02-05    30.336512
2017-02-12    31.256416
2017-02-19    32.035351
2017-02-26    32.363445
2017-03-05    32.996029
2017-03-12    32.932301
2017-03-19    33.208473
2017-03-26    33.390209
2017-04-02    34.018074
2017-04-09    34.171516
2017-04-16    33.793839
2017-04-23    33.621532
2017-04-30    34.114861
2017-05-07    35.160519
2017-05-14    36.997929
2017-05-21    36.903118
2017-05-28    36.497829
2017-06-04    36.843861
2017-06-11    36.824898
2017-06-18    34.743919
2017-06-25    34.684662
2017-07-02    34.563793
2017-07-09    34.172707
2017-07-16    35.324600
2017-07-23    35.793896
2017-07-30    36.372208
2017-08-06    37.244411
2017-08-13    38.173515
2017-08-20    38.451912
2017-08-27    38.066448
2017-09-03    39.034878
2017-09-10    38.566128
2017-09-17    38.428120
2017-09-24    37.769016
2017-10-01    36.698261
2017-10-08    36.974274
2017-10-15    37.354996
2017-10-22    38.183033
2017-10-29    38.796928
2017-11-05    41.045517
2017-11-12    41.935425
2017-11-19    41.544102
2017-11-26    41.782909
2017-12-03    41.572758
2017-12-10    40.548306
2017-12-17    41.544102
2017-12-24    42.129169
2017-12-31    40.853973
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.267141
2017-01-15    27.965149
2017-01-22    28.150818
2017-01-29    28.195473
2017-02-05    28.519798
2017-02-12    30.620886
2017-02-19    31.461760
2017-02-26    32.226551
2017-03-05    32.320953
2017-03-12    32.734016
2017-03-19    32.807201
2017-03-26    33.007828
2017-04-02    33.253311
2017-04-09    33.833965
2017-04-16    33.293438
2017-04-23    33.206104
2017-04-30    33.904789
2017-05-07    34.586937
2017-05-14    36.116482
2017-05-21    35.611393
2017-05-28    36.343761
2017-06-04    36.206306
2017-06-11    35.310383
2017-06-18    33.720024
2017-06-25    34.369442
2017-07-02    34.054207
2017-07-09    33.829048
2017-07-16    34.381290
2017-07-23    35.447861
2017-07-30    35.433628
2017-08-06    35.251133
2017-08-13    36.957615
2017-08-20    37.476337
2017-08-27    37.407333
2017-09-03    38.420982
2017-09-10    37.745216
2017-09-17    37.661938
2017-09-24    36.141468
2017-10-01    35.822620
2017-10-08    36.519802
2017-10-15    37.081352
2017-10-22    37.114666
2017-10-29    37.159874
2017-11-05    39.670193
2017-11-12    41.461918
2017-11-19    40.376369
2017-11-26    40.591286
2017-12-03    40.471889
2017-12-10    40.359650
2017-12-17    41.002026
2017-12-24    41.634861
2017-12-31    40.412189
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [27]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) #filtros
print(last_day)

Date
2017-01-31    28.519798
2017-02-28    32.335114
2017-03-31    33.909508
2017-04-30    33.907146
2017-05-31    36.206306
2017-06-30    34.134789
2017-07-31    35.251133
2017-08-31    39.022976
2017-09-30    36.672081
2017-10-31    40.222218
2017-11-30    41.037849
2017-12-31    40.412189
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [28]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) #filtros
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [30]:
print(monthly_return.mean()) #se imprime el filtro
print(monthly_return.std()) #se imprime el filtro
print(monthly_return.max()) #se imprime el filtro

0.026863361390286878
0.05225843531120712
0.0990181394054428

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [31]:
print(last_day.diff()) #se imprime el filtro
print(last_day.pct_change()) #se imprime el filtro

Date
2017-01-31         NaN
2017-02-28    3.815315
2017-03-31    1.574394
2017-04-30   -0.002361
2017-05-31    2.299160
2017-06-30   -2.071518
2017-07-31    1.116344
2017-08-31    3.771843
2017-09-30   -2.350895
2017-10-31    3.550137
2017-11-30    0.815632
2017-12-31   -0.625660
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [32]:
daily_return = last_day.pct_change() 
print(daily_return.fillna(0)) #se imprime el filtro

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [33]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) #se imprime el filtro

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [34]:
daily_return = last_day.pct_change()
daily_return.dropna() #se imprime el filtro

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [35]:
import pandas as pd #importamos panda como pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #se crea un diccionario

data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index) #se crea un dataframe con panda, teniendo en cuenta el diccionario y el data_index con las fechas
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [37]:
df = aapl_table #asignamos aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.792458
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853973
2017-12-29    40.412189
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [38]:
aapl_2016 = df['2016'] #filtramos
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032  257666000        0.0
2016-02-29  22.389513  22.706194  22.340971  22.350218  140865200        0.0
2016-03-31  25.362144  25.403752  25.167974  25.193401  103553600        0.0
2016-04-30  21.726100  21.894843  21.383994  21.668312  274126000        0.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800        0.0
2016-06-30  21.963032  22.272336  21.930474  22.232801  143345600        0.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800        0.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600        0.0
2016-09-30  26.295463  26.508241  26.141143  26.433418  145516400        0.0
2016-10-31  26.573702  26.709318  26.468481  26.547981  105677600        0.0
2016-11-30  26.228349  26.369361  25.915770  25.974525  144649200        0.0
2016-12-31  27.415201  27.544461  27.128475  27.220133  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [39]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] #seleccionamos ciertas columnas
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032
2016-02-29  22.389513  22.706194  22.340971  22.350218
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-04-30  21.726100  21.894843  21.383994  21.668312
2016-05-31  23.163043  23.349092  22.981646  23.223509
2016-06-30  21.963032  22.272336  21.930474  22.232801
2016-07-31  24.230499  24.314221  24.111893  24.235149
2016-08-31  24.705481  24.918257  24.700804  24.808361
2016-09-30  26.295463  26.508241  26.141143  26.433418
2016-10-31  26.573702  26.709318  26.468481  26.547981
2016-11-30  26.228349  26.369361  25.915770  25.974525
2016-12-31  27.415201  27.544461  27.128475  27.220133

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [40]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]) #se imprime el filtro

                 Open       High        Low      Close
Date
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-04-30  21.726100  21.894843  21.383994  21.668312
2016-05-31  23.163043  23.349092  22.981646  23.223509
2016-06-30  21.963032  22.272336  21.930474  22.232801

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [41]:
import numpy as np #importamos numpy como np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.362144  25.403752  25.167974  25.193401
2016-08-31  24.705481  24.918257  24.700804  24.808361
2016-09-30  26.295463  26.508241  26.141143  26.433418
2016-10-31  26.573702  26.709318  26.468481  26.547981
2016-11-30  26.228349  26.369361  25.915770  25.974525
2016-12-31  27.415201  27.544461  27.128475  27.220133

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [42]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [43]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [44]:
print(missing[missing.rate_return == True]) #se imprime si se cumple la condicion

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [45]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032     0.000000
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [46]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL') #se crea una serie
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG') #se crea una serie
data_frame = pd.concat([s1,s2], axis = 1) #se crea un dataframe con las series creadas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [47]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price' #se agrega nombre al dataframe
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #se crea una nueva columna
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN   3.108124
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288   3.106836
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211   3.226582
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921   3.075851
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773   3.145165
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660   3.101569
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063   3.187804
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652   3.211181
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504   3.274629
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334   3.278954
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601   3.257116
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [49]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) #se une segun las condiciones
print(df_volume) # se imprime
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) #se une segun las condiciones
print(df_2017) # se imprime

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573702  26.709318  26.468481  26.547981
2016-11-30  26.228349  26.369361  25.915770  25.974525
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472795  28.529199  28.348234  28.519798
2017-02-28  32.356356  32.441331  32.266660  32.335114
2017-03-31  33.923670  34.053492  33.756080  33.909508
2017-04-30  34.011005  34.060575  33.817454  33.907146

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [50]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #unimos
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [51]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner') #unimos
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [52]:
append = aapl_bar.append(df_2017) #se inserta
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2016-10-31  26.573702  26.709318  26.468481  26.547981          NaN
2016-11-30  26.228349  26.369361  25.915770  25.974525          NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011005  34.060575  33.817454  33.907146          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [53]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #unimos
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2016-10-31  26.573702  26.709318  26.468481  26.547981          NaN
2016-11-30  26.228349  26.369361  25.915770  25.974525          NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011005  34.060575  33.817454  33.907146          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [54]:
df_2017.columns = ['Change', 'High','Low','Close'] #se filtras ciertas columnas
concat = pd.concat([aapl_bar, df_2017], axis = 0) #se unen
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN        NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288        NaN
2016-03-31  25.362144  25.403752  25.167974  25.193401     0.127211        NaN
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921        NaN
2016-05-31  23.163043  23.349092  22.981646  23.223509     0.071773        NaN
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660        NaN
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063        NaN
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652        NaN
2016-09-30  26.295463  26.508241  26.141143  26.433418     0.065504        NaN
2016-10-31  26.573702  26.709318  26.468481  26.547981     0.004334        NaN
2016-11-30  26.228349  26.369361  25.915770  25.974525    -0.021601        NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955        NaN
2016-10-31        NaN  26.709318  26.468481  26.547981          NaN  26.573702
2016-11-30        NaN  26.369361  25.915770  25.974525          NaN  26.228349
2016-12-31        NaN  27.544461  27.128475  27.220133          NaN  27.415201
2017-01-31        NaN  28.529199  28.348234  28.519798          NaN  28.472795
2017-02-28        NaN  32.441331  32.266660  32.335114          NaN  32.356356
2017-03-31        NaN  34.053492  33.756080  33.909508          NaN  33.923670
2017-04-30        NaN  34.060575  33.817454  33.907146          NaN  34.011005

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.